.out-screen
  h1.out-screen__title You've left this game
  p.out-screen__lede The host took you out for the rest of the game. Thanks for playing!
  = link_to 'Back to the start', root_path, class: 'btn'
